# Example environment variables
# Note: Currently all variables are hardcoded in application.yml and docker-compose.yml 
# for the purpose of the demonstration, but you can override them here if needed in 
# a real-world scenario.

POSTGRES_USER=user
POSTGRES_PASSWORD=password
SPRING_DATASOURCE_URL_BASE=jdbc:postgresql://db:5432/
